section h1 {
    background-color: maroon;
    width: 50%;
    padding: 1em;
    text-align: center;
    color: white;
    margin: 1em auto;
    border-radius: 100%;
}

section table, section p, section video {margin: 4em auto; background-color: rgba(255, 255, 255, 0.5);}

section table, section p {
    width: 60%;
}

section p {padding: }
      
.image-box {
  position: relative;
}

.hover-title {
  display: block;
  width: 150px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;a
  right: 0;
  background-color: maroon;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.image-box:hover .overlay {
  bottom: 0;
  height: 100%;
}
.symptom {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;}

  table img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  #advice {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    bottom: 90px;
    background-color: black;

  }
  .ticker {
    position: absolute;
    top: 25%;
    left: 40px;
    right: 10px;
    bottom: 10%;
    overflow: hidden;
  }

  .ticker p {
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: auto;
    color: white;

  }

  .ticker a {
    color: white;
    animation-duration: 2s;
  }
  
