* {
  box-sizing: border-box;
}

#ahlam-container {
    margin-bottom: 3em;
}

section h1 {
    background-color: maroon;
    width: 50%;
    padding: 1em;
    text-align: center;
    color: white;
    margin: 2em auto 1em auto;
    border-radius: 100%;
}

section p, section ul, section ol {
    padding: 1em;
    font-size: 20px;
    line-height: 1.5em;
    text-align: justify;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
}

section table, section p, section ul, section ol, section video {margin: 4em auto;}

section table, section p, section ul, section ol {
    width: 60%;
}

section li {margin-left: 1em;}

section table {background-color: rgba(255, 255, 255, 0.5);}

.ahlam-section-2 p {margin-bottom: 0;}
.ahlam-section-2 ul, .ahlam-section-2 ol {margin-top: 0;}

.image-box {
  position: relative;
}

.hover-title {
  display: block;
  width: 150px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: maroon;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.image-box:hover .overlay {
  bottom: 0;
  height: 100%;
}

.symptom {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;}

  table img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/** Memory Game **/
.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/** Ticker **/
  #advice {
    height: 25px;
    background-color: black;
    padding: 3px 0 0 0;
  }

  .ticker p {
    position: absolute;
    white-space: nowrap;
    width: auto;
    color: white;
  }

  .ticker a {
    color: white;
    animation-duration: 2s;
  }
  
/* To override original footer settings */
footer {position: initial;}

.border {background: maroon;}
.btn {background: maroon;}
.social-media {margin-bottom: 0.15em;}
.social-media a:link {color: black;}
.social-media a:hover {color: maroon;}

/* Extras */

iframe {border: 3px solid black;}
audio {width: 100%}
